.weather-app {
  font-family: "Roboto", sans-serif;
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #f7f7f7;
  color: #333;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px;
  border-radius: 8px;
}

.input-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.input-container input {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  font-size: 14px;
  background-color: #f9f9f9;
  outline: none;
}

button {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background-color: #0056b3;
  color: #fff;
}

.weather-info {
  margin-top: 20px;
}

.weather-details {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.weather-overview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}
.weather-overview img {
  width: 60px;
  filter: invert(10%);
}
.temperature-details {
  width: 50%;
}
.temperature-details p {
  margin: 5px 0;
  font-size: 14px;
}

.error {
  color: #dc3545;
  font-size: 14px;
  margin-top: 10px;
}

.weather-footer {
  margin-top: 20px;
  text-align: center;
  font-size: 12px;
  color: #777;
}

@media (max-width: 600px) {
  .weather-app {
    box-shadow: none;
  }
  .header {
    flex-direction: column;
    margin-bottom: 40px;
  }
  .input-container {
    width: 100%;
  }
  .weather-details {
    flex-direction: column;
  }
  .weather-overview {
    margin: 0 auto 15px auto;
  }
  .temperature-details {
    width: 100%;
    padding-left: 10px;
  }
}
